/* ==========================
   GLOBAL STYLE
   ========================== */


body {

    min-height: 100vh;

    background:
            linear-gradient(
                    135deg,
                    #07111f,
                    #102542
            );

    color: #222;

    font-family:
            'Segoe UI',
            Arial,
            sans-serif;

}







/* ==========================
   NAVBAR
   ========================== */


.custom-navbar {

    background:
            linear-gradient(
                    90deg,
                    #06101f,
                    #123c69
            );

    padding: 15px 30px;

    box-shadow:
            0 4px 15px
            rgba(0,0,0,0.4);

}



.navbar-brand {

    font-size: 24px;

    font-weight: bold;

}



.nav-link {

    margin-left: 15px;

    font-weight: 500;

}



.nav-link:hover {

    transform: scale(1.05);

}



.navbar-nav {

    flex-wrap: wrap;

}



a {

    text-decoration: none;

}








/* ==========================
   CONTAINERS
   ========================== */


.page-box {


    margin-top: 50px;

    padding: 35px;


    background:
            rgba(255,255,255,0.96);


    border-radius: 20px;


    box-shadow:
            0 15px 35px
            rgba(0,0,0,0.35);


}



.home-box {

    text-align: center;

}







h1 {


    font-weight: 800;

    margin-bottom: 30px;

    color:#123c69;


}



h2 {


    margin-top:30px;

    color:#123c69;


}









/* ==========================
   CARD
   ========================== */


.dashboard-card {


    background:white;


    border-radius:18px;


    padding:25px;


    margin-bottom:20px;


    min-height:180px;


    box-shadow:
            0 8px 20px
            rgba(0,0,0,0.15);


    transition:0.3s;


}




.dashboard-card:hover {


    transform:
            translateY(-5px);



    box-shadow:
            0 12px 25px
            rgba(0,0,0,0.25);


}








/* ==========================
   LOGIN CARD
   ========================== */


.login-box {


    max-width:450px;


    margin:
            80px auto;


    background:white;


    padding:45px;


    border-radius:25px;


    box-shadow:
            0 20px 45px
            rgba(0,0,0,0.45);


}



.login-box h1 {


    text-align:center;


    color:#123c69;


}








/* ==========================
   FORM
   ========================== */



.form-box {

    max-width:700px;

}



.form-control,
.form-select {


    border-radius:12px;


    padding:12px;


}



.form-control:focus,
.form-select:focus {


    box-shadow:
            0 0 10px
            rgba(18,60,105,0.5);


}








/* ==========================
   BUTTON
   ========================== */



.btn {


    border-radius:20px;


    padding-left:20px;

    padding-right:20px;


    font-weight:600;


    transition:0.2s;


}



.btn:hover {


    transform:scale(1.05);


}









/* ==========================
   TABLE
   ========================== */


.table {


    background:white;


    border-radius:15px;


    overflow:hidden;


}



th {


    background:#123c69 !important;


    color:white !important;


}









/* ==========================
   MOBILE
   ========================== */



@media(max-width:700px){


    .page-box {


        margin-top:20px;


    }


}


/* ==========================
   IMAGES
   ========================== */


.team-logo {


    width:100px;


    height:100px;


    object-fit:contain;


    display:block;


    margin-bottom:20px;


}






.player-photo {


    width:170px;


    height:170px;


    object-fit:cover;


    border-radius:50%;


    box-shadow:
            0 10px 25px
            rgba(0,0,0,0.35);


}









/* ==========================
   LINKS DETAIL
   ========================== */



.detail-link {


    color:#123c69;


    font-weight:700;


    text-decoration:none;


    transition:0.2s;


}




.detail-link:hover {


    color:#0d6efd;


    transform:scale(1.05);


}







/* ==========================
   PLAYER PAGE
   ========================== */


.page-box h3 {


    color:#123c69;


    font-weight:700;


}

/* ======================
   CLICKABLE ELEMENTS
   ====================== */


.clickable-table tr {


    cursor:pointer;


    transition:0.2s;


}



.clickable-table tbody tr:hover {


    transform:scale(1.01);


    background:#eaf2ff;


}







.team-link {


    display:inline-block;


    background:#123c69;


    color:white;


    padding:8px 18px;


    border-radius:20px;


    font-weight:600;


    text-decoration:none;


    margin:5px;


    transition:0.2s;


}





.team-link:hover {


    background:#0d6efd;


    color:white;


    transform:scale(1.05);


}

/* ==========================
   MATCH DETAIL
========================== */


.match-detail-card{


    background:white;


    padding:35px;


    border-radius:25px;


    box-shadow:
            0 10px 25px
            rgba(0,0,0,0.20);


    margin-bottom:40px;


}




.big-score{


    font-size:60px;


    font-weight:900;


    color:#123c69;


}




.custom-link{


    color:#123c69;


    font-weight:800;


    text-decoration:none;


}



.custom-link:hover{


    color:#0d6efd;


}




.comment-box{


    background:#f8f9fa;


    padding:20px;


    margin-top:15px;


    border-radius:15px;


}